body {
	font-size: 12pt;
	font-family: メイリオ, osaka;
	color: black;
}

h1 {
	font-size:16pt;
    font-family: メイリオ, osaka;
    color: blue;
}

h2 {
    font-size:12pt;
    font-family: メイリオ, osaka;
    color: blue;
    border-bottom: solid 3px blue;
}

img {
	width: 500px;
}

code {
	color: #727272;
	background-color: #FCFCFC;
	padding-left: 5px;
	padding-right: 5px;
}

.pre {
    color: #727272;
    background-color: #FCFCFC;
	white-space: pre-wrap;
}

